**/.DS_Store
**/.git
**/.gitignore
**/.gitattributes
**/.hg
**/.hgignore
**/.hgtags
**/.svn
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
.env
.venv
.vscode
.idea
.pytest_cache
.tox
build
dist
docs
htmlcov
*.egg-info
output
test_models.py
